.topbar-container{
  height: 10vh;
  background-color: aqua;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.btn{
    display: flex;
    height: 50vh;
    width: 100%;

}


.left{
flex: 1;
background-color: #fff8dc;
height: 95vh;
}


.right{
flex: 7;
background-color: #dc143c;
height: 95vh;
}

.line{
    height:10;
    width: 100%;
    margin-top: 50px;
    color: yellow;
   
    

}


